body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.ds-title {
  display: flex;
  justify-content: center;
  flex: 1 0 50%;
}

.connect-btn {
  display: flex;
  justify-content: flex-end;
}

.ds-container {
  padding: 1rem;
}

.config-profile-para {
  margin-bottom: 0.3rem;
}

.error {
  color: #C30F1A;
  font-size: 14px;
}

.env-btn {
  margin-top: 1rem;
  cursor: pointer;
}

.mandatory {
  color: #C30F1A;
  font-size: 14px;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}